# Ignore build artifacts
build/
dist/
logs/
wheels/
constraints.txt
log.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
.venv/

# Ignore Zed editor configuration
.zed/

# macOS metadata
.DS_Store

# Lavish artifacts
.lavish/
